# Files/paths that are more sensitive than I want laying around my repository
bin/aironet-config.sh
lib/wamber_wpa_supplicant.conf
.ssh/id_dsa
.ssh/identity
.Private
.ecryptfs
.pki


# hierachies that deserve their own repository
projs

# dynamic files that don't need to get tracked
.pyhist
.tomboy.log
.tomboy
.Trash
.adobe
.since
.cache
recently-used.xbel
*.swp
*.pyc
.ICEauthority
.sudo_as_admin_successful
.lesshst
.gksu.lock
.esd_auth
.Xauthority
.*[-_]history
.thumbnails
.thumbnails/*
.xsession-errors
recently-used.xbel
.recently-used
.viminfo
.asoundrc
.asoundrc.asoundconf
.goutputstream*
.gstreamer-0.10
.pulse-cookie
.*.bak
Dropbox
.ssh/known_hosts
.webex

# files I don't necessarily want everywhere
lib/images/
.java
.kde
.nvidia*
